body{
    background-color: #fff;
    background-image: url("./images/Untitled\ design\ \(4\).png");
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}
.SearchButton{
  justify-content: end;
  margin-right: 10px ;
}
.container-fluid{
   margin-bottom: 10px;
}
#SearchButton:hover{
    background-color: #0056b3;
}


.navbar button.button {
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-left: 10px; 
  cursor: pointer;
}

.navbar button.button:hover {
  background-color: #0056b3; 
}


.navbar form.form-inline {
  margin-left: auto;
}

.navbar input.form-control {
  margin-right: 5px; 
}

.navbar button.btn.btn-primary#SearchButton {
  padding: 8px 16px; 
}


#updating{
  text-align: center;
  margin-top: 0%50px;
}